<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogsClear.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LogsClear.Properties.Settings>
            <setting name="ExtensionsList" serializeAs="String">
                <value>.exe .bat .scr .lnk .bin .cmd .js .jse .gadget .jar .msi .wsf .vbs .ps1 .app .vb .hta</value>
            </setting>
        </LogsClear.Properties.Settings>
    </userSettings>
</configuration>